<div id="nav">
    
    
    <ul><img src="https://cdn.vectorstock.com/i/1000x1000/64/79/arm-wrestling-mascot-logo-design-vector-43336479.webp" alt="">
        <li><a href="/home">Home</a></li>

<li><a href="/plans">Plans</a></li>

<li><a href="/about">About</a></li>

<li><a href="/contact">Contact</a></li>
</ul></div>