<!-- head flile start -->
<%-include("includes/head.ejs")
%>
<!-- head flile ends -->
<body>
<div id="cards">
  

    <div class="card">


        <div id="left"><img src="https://images.pexels.com/photos/19085991/pexels-photo-19085991/free-photo-of-chairs-with-fur-in-front-of-a-shop.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt=""></div>


        <div id="right">

<h1><span>Tittle heading</span>
<br>
title body
</h1>
<p>Title content
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et voluptate praesentium hic beatae, consequatur voluptas, quo qui voluptates, veniam facilis commodi placeat tempora? Vero culpa tenetur distinctio ipsam reiciendis est?</p>

<p>from<span> $600</span></p> 
<button>read more</button>
</div>
        </div>
        <div class="card">


            <div id="left"><img src="https://images.pexels.com/photos/19085991/pexels-photo-19085991/free-photo-of-chairs-with-fur-in-front-of-a-shop.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt=""></div>
    
    
            <div id="right">
    
    <h1><span>Tittle heading</span>
    <br>
    title body
    </h1>
    <p>Title content
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et voluptate praesentium hic beatae, consequatur voluptas, quo qui voluptates, veniam facilis commodi placeat tempora? Vero culpa tenetur distinctio ipsam reiciendis est?</p>
    
    <p>from<span> $600</span></p> 
    <button>read more</button>
    </div>
            </div>
            <div class="card">


                <div id="left"><img src="https://images.pexels.com/photos/19085991/pexels-photo-19085991/free-photo-of-chairs-with-fur-in-front-of-a-shop.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt=""></div>
        
        
                <div id="right">
        
        <h1><span>Tittle heading</span>
        <br>
        title body
        </h1>
        <p>Title content
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et voluptate praesentium hic beatae, consequatur voluptas, quo qui voluptates, veniam facilis commodi placeat tempora? Vero culpa tenetur distinctio ipsam reiciendis est?</p>
        
        <p>from<span> $600</span></p> 
        <button>read more</button>
        </div>
                </div>
    </div>

    <script>
        var body=document.querySelector("body");
var cards=document.querySelector("#cards");
function card(){
var cards=document.createElement("div")
var left=document.createElement("div")
var right=document.createElement("div")
var h1=document.createElement("h1ii")


}




card();

    
    </script>
</body>

</html>