<!-- head flile start -->
<%-include("includes/head.ejs")
%>
<!-- head flile ends -->
<body>

    <div id="main">
<!-- nav flile start -->
<%-include("includes/nav.ejs")
%>
<!-- nav flile ends -->
        

<div id="promo_tag">

<h1><br>
   <h class="main_tag">Ignite your</h><br> <span>untapped Strength</span><br>
    to the next level
    <br>
    <p>(arm wrestling, calisthenics, strength conditioning, flexibility etc)</span></p>
    <button id="get_started">Get Started</button>
</h1>


</div>



    </div>
</body>
</html>