<!-- head flile start -->
<%-include("includes/head.ejs")
%>
<!-- head flile ends -->
<body>
  <div id="main">
    <!-- nav flile start -->
<%-include("includes/nav.ejs")
%>
<!-- nav flile ends -->
  </div>
</body>
</html>