/*  main structure styling */
#main{
    height:calc(100vh - 130px);
    width:100%;
}
@media (max-width:600px){
    #main{
        height:calc(100vh - 200px);
        width:100%;
        overflow: scroll;    }
}
/*  main structure styling */



/*  main colors styling */
#main{
    background-color: var(--bg1--);
    color:var(--main--);

}
/*  main colors styling */

/*promo_tag styling */
#promo_tag{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   position: relative;
background: var(--bgimg--);
background-position:calc(60vw);
background-size: contain;
background-repeat: no-repeat;

}
@media (max-width:600px){


    #promo_tag{
        background-position:calc(100vw - 99vw);
background-size: contain;
background-repeat: no-repeat;
    }

}
/*promo_tag styling */

/*promo_tag styling */
#promo_tag h1{width: 55vw;
    font-size: 5vw;
    padding-left: 5vw;
    text-transform: uppercase;
    position: absolute;
    top: 40%;
    left: 28%;
    transform: translate(-50%,-50%);
    letter-spacing: 1px;
    
}
/* fire animation */
 .main_tag{
   color: transparent;
    text-shadow: 20px rgba(255, 255, 255, 0.724);
    font-size: 7vw;
    background: url("https://images.pexels.com/photos/627930/pexels-photo-627930.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2") ;
    background-position-x: center;
    background-size: contain;
   background-clip: text;
    animation: fire 4s linear infinite;
 
}



@keyframes fire{

    0%{
        background-position: left 40px top 0px;
    }
    30%{
        background-position: ltop 0;;
    }
    50%{
        background-position:  top 0;
    }
    70%{background-position:  top 0;;

    }
    100%{
        background-position:  top 0;
    }
}
/* fire animation */
@media (max-width:600px){


    #promo_tag h1{   top: 20%;
        left: 40% !important;
    }
    

    
    #promo_tag h1 span{
        margin-left:1vw !important ;
        letter-spacing: 1px !important;
       margin-left: 0vw;
       font-size: 12vw  !important;
    }
    #promo_tag h1 p{width: 90%;
        font-size: 33vw;
        letter-spacing: 1px;
       color: var(--third--);
        margin: 1vh 5vh;
        text-transform:capitalize;  
    }
    #get_started{ border: 0px;
        padding: 1vw 3vw !important;
         background-color: var(--second--);
         border-radius: 10px;
         color:var(--second--);
         font-size:1vh !important;
         box-shadow: 4px 3px rgb(68, 60, 60);
         color: var(--main--);
         margin-left:0 !important;
       
     }

}

@media (max-width:1200px) {
    #promo_tag{
        background-position:calc(100vw - 99vw);
background-size: contain;
background-repeat: no-repeat;
    }
    #promo_tag h1{  top: 30%;
    left: 30%;
}



#promo_tag h1 span{
    margin-left:1vw !important ;
    letter-spacing: 1px !important;
   margin-left: 0vw;
   font-size: 12vw  !important;
}
#promo_tag h1 p{width: 100%;
    font-size: 3vw !important;
    letter-spacing: 1px;
   color: var(--third--);
    margin: 1vw 2vw !important;
    text-transform:capitalize;  
}
#get_started{ border: 0px;
    padding: 2vw 4vw !important;
     background-color: var(--second--);
     border-radius: 10px;
     color:var(--second--);
     font-size:2vh !important;
     box-shadow: 4px 3px rgb(68, 60, 60);
     color: var(--main--);
     margin-left:0 !important;
   
 }
}


#promo_tag h1 span{
    letter-spacing: 2px;
   margin-left: 0vw;
    color:var(--second--);
    font-size: 6vw;
    text-decoration:line-through black;
    font-style: oblique;
   
}
#promo_tag h1 p{width: 90%;
    font-size: 1vw;
    letter-spacing: 1px;
   color: var(--third--);
    margin: 1vh 5vh;
    text-transform:capitalize;    
}


#get_started{ border: 0px;
   padding: 1vw 3vw;
    background-color: var(--second--);
    border-radius: 10px;
    color:var(--second--);
    font-size:4vh ;
    box-shadow: 4px 3px rgb(68, 60, 60);
    color: var(--main--);
    margin-left: 35%;
}

#get_started:hover{
    color: var(--main--);
    background-color: rgb(34, 33, 33);
    box-shadow: 1px 0 rgba(255, 255, 255, 0.603);
}
@media (max-width:600px){
    #promo_tag h1{width: 70vw;
        font-size: 5vw; 
    }
    #promo_tag h1 span{
        letter-spacing: 5px;
        color:var(--second--);
        font-size: 5vh;
        text-decoration:line-through black;
        font-weight: 500;
        font-style: oblique;
        word-break: break-all;

    
    }

    #promo_tag h1 p{width: 100%;
        font-size: 3vw;
        letter-spacing: 1px; 
        font-weight: 200;
    }
    #get_started{ border: 0px;
        
margin-top: 7vh;
        padding: 2vw 3vw;
         background-color: var(--second--);
         border-radius: 10px;
         color:var(--main--);
         font-size:3vw ;
         box-shadow: 4px 3px var(--second--);
     }

}





/*promo_tag styling */